#body {
    background-color: #DFDFDF;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#topTriler {
    background-image: url(../assets/img/index/Background_Kratos.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

#main-1 {
    background-image: url(../assets/img/index/main_row_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#main-2 {
    background-image: url(../assets/img/index/main_row_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-body span {
    color: #812629;
}

#nav-buttons li a {
    transition: all .5s;
}

#nav-buttons li a:hover {
    transform: scale(1.2);
    color: #B22128;
}

#redes .nav-link i {
    color: #812629;
}